<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to AppName</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Simple journaling tool that let you add daily entries about your software development career, such as technologies you should keep an eye on, bugs you need to fix, technical debts that needs to be solved or just that awesome code you wrote today!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Today's entries</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
